.main_section{
    display: flex;
justify-content: center;
align-items: center;
width: 100%;
background-image: url('https://adikataxi.com/assets/img/others/taxi1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.form_container{
   
width: 100%;
padding: 28px;
margin: 20px 28px;
border-radius: 10px;
}
.title{
font-size: 35px;
font-weight: bold;
text-align: center;
padding-bottom: 15px;
color: rgb(255, 255, 255);

background-color: transparent;

}
.user_details{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 20px 0; 

}
.input_box:nth-child(2n){
justify-content: end;
}
.input_box{
display: flex;
flex-wrap: wrap;
width: 50%;
padding-bottom: 15px;

}
.input_box input::placeholder{
opacity: 0.7;
}
.input_box label{
width: 95%;
color: rgb(255, 255, 255);
font-size:24px;
font-weight: 600;
margin: 5px 0; 
}
.input_box input{
height: 50px;
width: 95%;
border-radius: 7px;
outline: none;
border: 1px solid gray;
padding: 0 12px;
color: white;
background-color: transparent;
}
.gender-title{
color: rgb(255, 255, 255);
font-size: 24px;
font-weight: 600;

}
.gender-category{
margin: 15px 0;
color: rgb(255, 255, 255);
}
.gender-category label{
padding: 0 20px 0 5px;
}
.gender-category label,
.gender-category input,
.form-submit-btn input{
cursor: pointer;
}
input[type="submit"]{
margin-top: 40px;
}
input[type="submit"]{
display: block;
margin: auto;
width: 26%;
margin-top: 10px;
font-size: 23px;
padding: 13px;
border: none;
border-radius:4px;
color:white;

border-radius: 18px;
font-weight: 600;
letter-spacing: 1px;
background-image: linear-gradient(to top, #dd1600 0%, #fe5151 100%);
cursor: pointer;

outline: none;
}

input[type="submit"]:hover{
background:rgb(241, 113, 113);
color: rgb(255, 255, 255);

}
#type{
margin-right: 580px;
border-radius: 10px;
height: 50px;
}
@media(max-width:600px){
.form_container{
min-width: 280px;
}
.input_box{
margin-bottom: 12px;
width: 100%;
}
.input_box:nth-child(2n){
justify-content: space-between;
}
.gender-category{
display: flex;
justify-content:space-between;
width: 100%;
}
.user_details{
max-height: 380px;
overflow: auto;
}
.user_details::-webkit-scrollbar{
width: 0;
}
}
.footer__container {
background-color: #141414;
padding: 5rem 0;
display: flex;
flex-direction: column;
justify-content:space-between;
align-items: center;
width: 100%;
}

